<h4>Edit Project</h4>

<label>New Project Title:</label>
<input [(ngModel)]="selectedProject.title">
<br>

<label>New Project Description:</label>
<input [(ngModel)]="selectedProject.description">
<br>

<label>New Project Percent Funded:</label>
<input [(ngModel)]="selectedProject.percentFunded">


<button (click)="beginUpdatingProject(selectedProject)" routerLink='/project-gallery'>Update</button>
<!--trigger service's new method beginUpdatingProject() by event-binding that lives in edit-project component-->
<hr>
<button (click)="beginDeletingProject(selectedProject)" routerLink='/project-gallery'>Delete</button>
