<div class="card card-default">
  <div class="card-heading">
    <h3 class='card-title'>Add New Project to Inventory</h3>
  </div>
  <div class='card-body'>
    <div>
      <div>
        <label>Project Title:</label>
        <br>
        <input #newTitle>
      </div>

      <div>
        <label>Project Description:</label>
        <br>
        <input #newDescription>
      </div>

      <div>
        <label>Percent Funded So Far:</label>
        <br>
        <input type="number" #newPercentFunded>
      </div>

      <div>
        <label>Dollar Amount Required to Fund:</label>
        <br>
        <input #newDollarAmt>
      </div>

      <div>
        <label>Project Image:</label>
        <br>
        <input #newImage>
      </div>

      <div>
        <label>Project Category:</label>
        <br>
        <select #newCategory>
          <option value="entertainment">Entertainment</option>
          <option value="technology">Technology</option>
          <option value="misc">Misc</option>
        </select>
      </div>
      <button (click)="submitForm(newTitle.value, newDescription.value, newPercentFunded.value, newDollarAmt.value, newImage.value, newCategory.value); newTitle.value=''; newDescription.value=''; newDollarAmt.value=''; newImage.value=''; newCategory.value=''; ">Add</button>
    </div>
  </div>
</div>

<div>
  <app-project-gallery></app-project-gallery>
</div>
